{
  "parser": "babel-eslint",
  "plugins": ["React", "jsx-a11y", "Import"],
  "extends": ["airbnb-base//legacy", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", 4],
    "max-len": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": [
      2,
      {
        "exceptMethods": [
          "render",
          "getInitialState",
          "getDefaultProps",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ]
      }
    ],
    "react/no-deprecated": "off",
    "linebreak-style": ["error", "windows"]
  }
}
